svg {
  height: 100%;
  position: fixed;

}

#root {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  gap: 50px;
  overflow: clip auto;
  justify-content: space-around;
  align-items: center;

}

.cards {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-width: 280px;
  min-height: 220px;
  background-color: rgb(177, 177, 177);
}

#svg-1 {
  top: 70px;
  z-index: 3;
  right: 20px;
}


#bg {
  position: fixed;
  background-attachment: fixed;
  right: 0;
  top: 0;
}

@media all and (max-width:880px) {
  #root {
    padding-left: 25px;
    padding-right: 25px;
  }
}